# MetaSim configuration file
default_base_repo: 'git://github.com/airsim'
default_branch: trunk
cmake_args: '-DLIB_SUFFIX=64 -DCMAKE_BUILD_TYPE:STRING=Debug -DINSTALL_DOC:BOOL=ON'
publish_path: /tmp/metasim
components:
  - name: dsim
    deps: [stdair, airrac, rmol, airinv, simfqt, airsched, simcrs, trademgen, sevmgr, travelccm]  
  - name: simcrs 
    deps: [stdair, airrac, rmol, sevmgr, airinv, simfqt, airsched] 
  - name: simlfs
    deps: [stdair, airrac, rmol, sevmgr, airinv, simfqt]  
  - name: avlcal 
    deps: [stdair, airrac, rmol, airinv]   
  - name: airinv
    deps: [stdair, airrac, rmol, sevmgr]  
  - name: trademgen
    deps: [stdair, sevmgr]   
  - name: rmol
    deps: [stdair, airrac] 
  - name: simfqt
    deps: [stdair]
  - name: airsched
    deps: [stdair]
  - name: travelccm
    deps: [stdair] 
  - name: sevmgr
    deps: [stdair] 
  - name: airrac
    deps: [stdair]
  - name: stdair 
    deps: {}
