# MetaSim configuration file
default_base_repo: 'git://github.com/airsim'
default_branch: trunk
cmake_args: '-DLIB_SUFFIX=64 -DCMAKE_BUILD_TYPE:STRING=Debug -DINSTALL_DOC:BOOL=ON'
publish_path: /tmp/metasim
components:
  stdair: {}
  airrac:
    deps: [stdair]
  trademgen:
    deps: [stdair, sevmgr]
  simfqt:
    deps: [stdair]
  sevmgr: 
    deps: [stdair]
  airsched: 
    deps: [stdair]
  travelccm: 
    deps: [stdair]
  rmol:
    deps: [stdair, airrac]
  airinv:
    deps: [stdair, airrac, rmol]
  avlcal:
    deps: [stdair, airrac, rmol, airinv]
  simlfs:
    deps: [stdair, airrac, rmol, airinv, simfqt]
  simcrs:
    deps: [stdair, airrac, rmol, airinv, simfqt, airsched]
  dsim:
    deps: [stdair, airrac, rmol, airinv, simfqt, airsched, simcrs, trademgen, sevmgr, travelccm]
